.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 40px;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
}

.dark {
  background: #283426;
  color: #fff;
}

.light {
  background: #ddfdd9;
}
