@font-face {
  font-family: 'Montserrat';
  src: url('../assets/font/montserrat.ttf') format('truetype-variations'),
       url('../assets/font/montserrat.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
