.button {
  background-color: #283426;
  padding: 10px 20px;
  border-radius: 24px;
  color: #DDFDD9;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
}
