.container {
    display: flex;
    justify-content: center;

    margin-top: 7.5rem;
    margin: 40px 0;
}

.counterContainer {
    display: flex;
    gap: 50px;
    text-align: center;
    color: #222;
    font-size: 3.75rem;
    gap: 8.75rem;
}

.customCounter {
    color: #222;
    margin-top: 3.75rem;
}

