.background {
  background: #f3f3f3;
  display: flex;
  justify-content: space-between;
  border-radius: 2.5rem;
  align-items: center;
  padding: 3.75rem;
}

.conteiner {
  display: flex;
  flex-direction: column;
  max-width: 37.5rem;
}

.conteiner h1 {
  font-size: 2rem;
  color: #222;
}

.conteiner p {
  font-size: 1.5rem;
  color: #474747;
}

.socialBox {
  display: flex;
  flex-wrap: wrap;
  margin: 1.125rem 0 2rem 0;
  gap: 0.875rem;
}

.logoBox {
  flex-shrink: 0;
}

.logo {
  width: 15.625rem;
  height: 15.625rem;
}
