.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  max-width: 87.5rem; 
  margin: 12.5rem auto;
  padding: 2rem;
  flex-wrap: wrap; 
}

.left {
  flex: 1 1 18.75rem; 
  display: flex;
  justify-content: center;
}

.left img {
  width: 35rem; 
  height: 37.5rem; 
  height: auto;
  border-radius: 0.5rem;
}

.right {
  flex: 1 1 25rem; 
  display: flex;
  width: 100%;
  align-items: flex-start;
  max-width: 25rem; 
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.right img {
  width: calc(50% - 0.5rem); 
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}
