
.showcaseCointainer {
  display: flex;
  justify-content: space-between;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    min-width: 50%;
    background: #FFFAF3;
  }

  .textContainer p {
    max-width: 600px;
    text-align: center;
    font-size: 30px;

  }

.cta {
  background-color: #060606;
  padding: 10px 20px;
  border-radius: 24px;
  color: #fff !important;
  font-family: sans-serif;
  text-decoration: none;
}

.ctaContainer {
  list-style: none;
}

.headerImage { 
  object-fit: cover;
  max-width: 100%;
  height: 100vh;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  justify-content: space-between;
  padding: 10px 15px;


  position: fixed;
  z-index: 1;
  width: 100%;


  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.4px);
  -webkit-backdrop-filter: blur(15.4px);

  justify-content: center;
}


.logo {
  width: 40px;
  height: 40px;
}


.navList {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  gap: 32px;
  
  text-transform: uppercase;
  
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;

    
  justify-content: space-between;
}

.navList li a {
  color: #444;
  text-decoration: none;
  transition: color 0.3s;
}

.navList li a:hover {
  color: #222;
}


.photoGallery {
  display: flex;
  flex-wrap: wrap;


  margin: 4rem 0;
  padding: 0;
  list-style: none;
}

.photoGallery img {
  border-radius: 40px;
  height: auto;
  display: block;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5rem;
  margin-top: -13%;
  margin-left: 1%;
}

.title h1 {
  font-size: clamp(3rem, 6vw, 6rem);
  color: #fff;
  font-weight: bold;
  margin: 0;
}

.title p {
  font-size: clamp(1rem, 2vw, 2rem);
  color: #fff;
  margin: 0 0 0 20px;
}


