.container {
  display: flex;
  flex-direction: column;
  gap: 5.75rem; 
  margin: 0 auto;
  max-width: 1400px;
  padding: 2rem;
}
.aboutPhoto {
  border-radius: 40px;
}

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #f3f3f3;
  margin-top: 3.25rem;
  border-radius: 40px;
  padding: 2rem;
}

.offBackground {
  background: #fff;
}

.textBox {
  max-width: 600px;
}

.textBox h1 {
  color: #222;
  margin-top: 1.25rem;
  margin-bottom: 1.125rem;
  font-size: 6rem;
  line-height: 1.4;
}

.textBox p {
  color: #474747;
  font-size: 1.5rem;
  line-height: 1.4;
}

img {
  max-width: 600px;
}
