.container {
  display: flex;
  flex-direction: column;
  gap: 5.75rem; 
  margin: 0 auto;
  padding: 10px 15px;
}
.aboutPhoto {
  border-radius: 40px;
}

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #283426;
  color: #fff;
  border-radius: 40px;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
}



.block .textBox p, 
.block .textBox h1 {
  color: #DDFDD9;
   @media (max-width: 768px) {
        h1, p {
            font-size: 1.25rem;

        }
    }
  
 
}

.offBackground {
  background: #ddfdd9; 
}

.offBackground .textBox h1,
.offBackground .textBox p {
  color: #283426 ;
}

.textBox {
  max-width: 600px;
}

.textBox h1 {
  color: #283426;
  margin-top: 1.25rem;
  margin-bottom: 1.125rem;
  font-size: 6rem;
  line-height: 1.4;


   @media (max-width: 768px) {
    font-size: 40px;
  }

}

.textBox p {
  color: #474747;
  font-size: 1.5rem;
  line-height: 1.4;
  max-width: 487px;
  white-space: break-spaces;

  @media (max-width: 768px) {
    font-size: 1.25rem;
    max-width: 340px;
    margin-bottom: 1.25rem;
  }

}

