.container {
  display: flex;
  flex-direction: column;
  gap: 5.75rem; 
  margin: 0 auto;
  padding: 10px 15px;
}
.aboutPhoto {
  border-radius: 40px;
}

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #283426;
  color: #fff;
  border-radius: 40px;
  padding: 40px;
}



.block .textBox p, 
.block .textBox h1 {
  color: #DDFDD9;
  
 
}

.offBackground {
  background: #fff; 
}

.offBackground .textBox h1,
.offBackground .textBox p {
  color: #283426 ;
}

.textBox {
  max-width: 600px;
}

.textBox h1 {
  color: #283426;
  margin-top: 1.25rem;
  margin-bottom: 1.125rem;
  font-size: 6rem;
  line-height: 1.4;
}

.textBox p {
  color: #474747;
  font-size: 1.5rem;
  line-height: 1.4;
  max-width: 487px;
  white-space: break-spaces;
}

